.pageOne {
	background-image: url("../img/bg2.png");
	background-size: cover;
	z-index: 990;
}

.page {
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.illustration {
	background-color: white;
	height: 300px;
	width: 300px;
	margin-top: -10rem;
}

.wrapper {
	padding: 0 5rem 0 5rem;
}

.bStroke {
    width: 5px;
    margin-top: -4rem;
    stroke-dasharray: 15%
}

.bStroke {
  stroke-dasharray: 350;
  stroke-dashoffset: 350;
  animation: dash 5s linear infinite;
}

@keyframes dash {
  from {
    stroke-dashoffset: 350;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.bCircle img {
  animation-name: spin;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: absolute;
  right: -15%;
  bottom: 60%;
  width: 40%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.sStroke {
    border-top: 5px solid;
    background-color: transparent;
    width: 300px;
    margin-top: -4rem;
    border-color: #1E59C1;
}

.nextPage i {
    color: white;
    position: absolute;
    right: 6rem;
    bottom: 3rem;
    font-size: 5rem;
}

.nextPage img {
    position: absolute;
    right: 4rem;
    bottom: 30px;
    width: 115px;
}