.home {
	background-image: url("../img/bg1.png");
	background-size: cover;
	height: 100vh;
	z-index: 1000;
	position: relative;
}

.pageTwo {
	background-image: url("../img/bg2.png");
	background-size: cover;
	height: 100vh;
	z-index: 990;
	position: relative;
}

.illustration {
	background-color: white;
	height: 300px;
	width: 300px;
	margin-top: -10rem;
}

.wrapper {
	padding: 0 5rem 0 5rem;
}

.bCircle {
    border: 5px dashed;
    background-color: transparent;
    height: 650px;
    border-radius:50%;
    width: 650px;
    position: absolute;
    margin-top: -20rem;
    border-color: #1E59C1;
}

.bStroke {
    border-left: 5px dashed;
    background-color: transparent;
    height: 300px;
    margin-top: -4rem;
    border-color: #1E59C1;
}

.sStroke {
    border-top: 5px solid;
    background-color: transparent;
    width: 300px;
    margin-top: -4rem;
    border-color: #1E59C1;
}

.nextPageButton {
    border: 5px dashed #1E59C1;
    background-color: transparent;
    height: 100px;
    border-radius:50%;
    width: 100px;
}

.colorTwo {
	color: $color-pink;
	border-color: $color-pink;
}

.nextPage i {
    color: white;
    font-size: 4rem;
    display: inline-block;
    width: 100%;
    text-align: center;
    padding-top: 13.5px;
}

.nextPage {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 2rem;
    margin: 2rem;
    z-index: 1100;
}

